.saving-goals {
  display: flex;
  flex-direction: column;
}

.saving-goals__inputs {
  display: inherit;
  margin-top: 40px;
}

.saving-goals__inputs h4 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
}

.saving-goals__output {
  border: 1px solid #E1E8ED;
  box-shadow: 0px 1px 4px rgba(150, 164, 176, 0.1);
  border-radius: 4px;
  max-width: 480px;
  margin-top: 30px;
  height: 170px;
}

.saving-goals__output--container--montly-amount {
  display: flex;
  padding: 36px;
}

.saving-goals__output--title {
  font-size: 18px;
  line-height: 24px;
  color: #1C1E1F;
  margin-right: auto;
  margin-top: 5px;
}

.saving-goals__output--montly-amount {
  color: #0079FF;
  font-size: 40px;
  line-height: 32px;
}

.saving-goals__output--plan {
  background: #F4F8FA;
  font-size: 15px;
  line-height: 16px;
  padding: 16px 32px;
  border-radius: 0 0 4px 4px;
}

.hidden {
  visibility: hidden;
}
