.plan-simulation {
  height: calc(100vh - 70px);
}
.plan-simulation__container--body {
  display: flex;
  margin: 0 auto;
  border: 1px solid #E1E8ED;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(150, 164, 176, 0.1);
  width: fit-content;
  padding: 40px;
  flex-direction: column;
  background: #FFFFFF;
}

.plan-simulation__container--title {
  font-weight: 500;
  color: #1B31A8;
  text-align: center;
  font-size: 24px;
  padding-top: 75px;
  padding-bottom: 40px;
  margin: 0;
}

.plan-simulation__container {
  background: #F4F8FA;
  height: 100%;
}

.plan-simulation__container--confirm-button {
  background: #1B31A8;
  border-radius: 32px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: none;
  margin: 30px 40px 50px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 565px) {
  .plan-simulation__container--body {
    padding: 25px;
  }

  .plan-simulation__container--confirm-button {
   margin: 30px 0 50px;
  }
}