@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans'), url(./fonts/Work_Sans/WorkSans-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'WorkSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
